body {
  font-family: inconsolata, courier, sans-serif;
  color: green;
  background-color: black;
  font-size: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  color: pink;
  display: inline;
}

a {
  color: pink;
}

a:hover {
  color: white;
}

.header {
  padding-top: 20px;
  padding-bottom: 100px;
}

.row {
  padding-bottom: 50px;
}

.box {
  height: 27px;
  width: 500px;
  border-width: medium;
  border-style: dotted;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: green;
  margin-top: 50px;
  display: inline-block;
}
